<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>top page</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{content.title}">login page2</h1>
<form method="post" action="/login" th:action="@{'/login'}" th:object="${formModel}">
    <label>ID</label>
    <input type="text" />
    <label>password</label>
    <input type="password" />

    <input type="submit" th:value="ログイン" value="ログイン"/>
</form>
</body>
</html>